body {
    margin: 0;
    font-family: Arial, sans-serif;
    border: border-box;
}

.main-header {
    width: 100%;
    background-color: #fff;
}

.horizontal-section {
    text-align: center;
    background-color: #AE9479;
    color: #311528;
    
}


 