<!DOCTYPE html>
{% load static %}

<html>
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock title %}</title> 
  <!-- Add any additional meta tags, stylesheets, or scripts here -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-qx8r5yrdz7h38x8y7fv0js2fzrye6kghcuc7lp1kwcq31p0i93qo9yfkxstf9zp5" crossorigin="anonymous">
  
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!--Owl Carousel CSS-->
  <link rel="stylesheet" href="{% static 'login/css/owl.carousel.min.css' %}">

  <!--Custom CSS-->
  <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
  <link rel="icon" type="favicon" href="../media/upload_products/favicon.png">
  <style>
    *{
      font-family: 'Montserrat';
    }
    .search-btn{
      background-color:#976434 !important ;
      border-color: #976434;
    }
    .br-btn, .txt-clr{
      color: #976434 !important;
    }
    .btn-clr{
      background-color: #976434 !important;
      color: white;
      border: 1px solid #976434 !important;
    }
    .btn-clr:hover{
      background-color: white !important;
      color: #976434 !important;
    }
    .bg-clr{
      background-color: #976434;
    }
    a{
      text-decoration: none;
    }
  </style>
</head>
<body>
    <header class="main-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="../media/upload_products/Logo.png" alt="Liquor Legends" width="150"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav mr-auto gap-0 gap-xl-2">
              {% for cat in category %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{cat.name}}
                </a>
                <div class="dropdown-menu p-3 mt-3 w-50" aria-labelledby="navbarDropdown2">
                  {% for sub in cat.sub_category_set.all %}
                  <span class="txt-clr">{{ sub.name }}</span>
                    {% for sub_sub in sub.sub_sub_category_set.all %}
                      <a class="dropdown-item" href="{% url 'category_products' sub_sub.id %}">{{ sub_sub.name }}</a>
                    {% endfor %}
                  {% endfor %}
                </div>   
              </li>
              {% endfor %}
            </ul>
            
            <form class="form-inline my-2 my-lg-0">
              <div class="input-group">
                <input type="text" class="form-control search-box" placeholder="Search">
                <button class="btn btn-secondary search-btn" type="button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
            <ul class="navbar-nav ml-auto position-relative">
              {% if request.user.is_authenticated and request.user.is_customer %} 
                <!-- If user is logged in -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #AE9479 !important;">
                        Welcome,{{ request.user.first_name}}</br>
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/customer_logout/">Logout</a>
                        <!-- Add other dropdown items here -->
                    </div>
                </li>
                {% else %}
                <!-- If user is not logged in -->
                <li class="nav-item">
                    <a class="nav-link" href="/customer_signin/"><i class="bi bi-person-fill fs-3 br-btn"></i>Sign in</a>
                </li>
                {% endif %} 
                <div class="d-flex align-item-center ">
                <button type="button" class="position-relative btn p-0 m-0"><i class="fas fa-shopping-cart fs-4 br-btn"></i>
                  <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger" style="top: 10px;">1</span>
                </button>
              </div>
                </li>
              </ul>
          </div>
        </div>
    </nav>    
  </header>
    
  <div class="content">
      {% block content %}
    
      {% endblock %}
  </div>
      
  <footer>
    <div class="footer1">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <h5>About</h5>
              <p>Some text info about your website.</p>
              <h6>Follow Us</h6>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="col-md-4">
              <h5>Liquid Legends</h5>
              <ul class="list-unstyled">
                  <li><a href="/seller_signup/">Seller Signin</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                  <li><a href="#">Link 5</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h5>Useful Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                  <li><a href="#">Link 5</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer2">
      <div class="container border-top">
        <div class="row">
          <div class="col-md-6">
            <p>@2024 LiqourLEGENDS. ALL RIGHTS RESERVED</p>
          </div>
          <div class="col-md-6">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
    
      


    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="{% static 'login/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'login/js/all.min.js' %}"></script>
    <script src="{% static 'login/js/myscript.js' %}"></script>
</body>
</html>



