{% extends 'base.html' %}

{% block title %}Home {% endblock %}

{% block content %}
{% load static %}


 <style>
    .c.img{
      object-fit: cover;
    }
    .c-container{
      height: 80vh;
    }
    @media screen and (max-width: 480px) {
      .c-container{
        height: 40vh;
      }
    }
  </style> 

  <!-- Carousel Slider -->
  <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner c-container" >
      <div class="carousel-item active" >
        <img src="static/login/images/slider-1.jpg" class="d-block w-100 c-img img-fluid" alt="">
      </div>
      <div class="carousel-item">
        <img src="static/login/images/slider-2.jpg" class="d-block w-100 c-img" alt="">
      </div>
      <div class="carousel-item">
        <img src="static/login/images/slider-3.jpg" class="d-block w-100 c-img" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End Carousel Slider -->
  

  <!-- card starts here -->
  <div class="container pt-4 pb-4">
    <div class="row g-3">
      <div class="col-6 col-md-4 col-lg-3 justify-content-stretch">
        <a href="/whisky/" class="card-link">
          <div class="card">
            <img src="../media/categories/whisky.jpg" class="card-img rounded-0 rounded-top" alt="Image">
            <div class="card-footer text-center bg-clr text-white fw-bold">WHISKEY</div> 
          </div>
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="card-link">
          <div class="card">
            <img src="../media/categories/vodka.jpg" class="card-img rounded-0 rounded-top" alt="Image">
            <div class="card-footer text-center bg-clr text-white fw-bold">VODKA</div> 
          </div>
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="card-link">
          <div class="card">
            <img src="../media/categories/wine.jpg" class="card-img rounded-0 rounded-top" alt="Image">
            <div class="card-footer text-center bg-clr text-white fw-bold">WINES</div>
          </div>
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="card-link">
          <div class="card">
            <img src="../media/categories/beer.jpg" class="card-img rounded-0 rounded-top" alt="Image">
            <div class="card-footer text-center bg-clr text-white fw-bold">BEERS</div> 
          </div>
        </a>
      </div>

      <!-- <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="card-link">
          <div class="card">
            <img src="static/login/images/box3.jpg" class="card-img rounded-0 rounded-top" alt="Image">
            <div class="card-footer text-center bg-clr text-white fw-bold">RUM</div> 
          </div>
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="card-link">
          <div class="card">
            <img src="static/login/images/box3.jpg" class="card-img rounded-0 rounded-top" alt="Image">
            <div class="card-footer text-center bg-clr text-white fw-bold">TEQUILA</div> 
          </div>
        </a>
      </div>
      
      <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="card-link">
          <div class="card">
            <img src="static/login/images/box3.jpg" class="card-img rounded-0 rounded-top" alt="Image">
            <div class="card-footer text-center bg-clr text-white fw-bold">GIN</div> 
          </div>
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-3">
        <a href="#" class="card-link">
          <div class="card">
            <img src="static/login/images/box3.jpg" class="card-img rounded-0 rounded-top" alt="Image">
            <div class="card-footer text-center bg-clr text-white fw-bold">SINGLE MALTS</div> 
          </div>
        </a>
      </div>
    -->
    </div>
  </div>
  <!-- card ends here-->

  
{% endblock %}
