{% extends 'base.html' %}

{% block title %}{{product.title}}{% endblock %} 

{% block content %}
{% load static %}


<style>
  
  .product-img {
    max-width: 90%;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
</style>
</head>
<body>

<div class="container">
  <div class="product-box p-2">
      <div class="row p-2">
        <div class="col col-sm-4 col-md-4 p-2">
            <img src="/media/{{ product.product_image }}" class="product-img" alt="ProductImage">
        </div>
        <div class="col col-sm-8 col-md-8 mt-3">
          <h2>{{product.sub_sub_category}}</h2>
          <h1>{{product.title}}</h1>
          <p>{{product.description}}</p>
            <div class="border-top">
            <h2 class="mt-2">State Wise Price</h2>
            <div class="overflow-auto">
              <table class="table table-responsive table-bordered text-center">
                <thead>
                  <tr>
                    <th>State</th> <th>90ml</th> <th>180ml</th> <th>375ml</th> <th>750ml</th> <th>1L</th> <th>2L</th>
                  </tr>
                </thead>
                <tbody>
                  {% if state_price %}
                    {% for price in state_price %}
                    <tr>
                      <td>{{ price.state }}</td>
                      {% if price.size_90ml %}<td>₹{{ price.size_90ml }}</td> {% else %} <td>-</td> {% endif %}
                      {% if price.size_180ml %}<td>₹{{ price.size_180ml }}</td> {% else %} <td>-</td> {% endif %}
                      {% if price.size_375ml %}<td>₹{{ price.size_375ml }}</td> {% else %} <td>-</td> {% endif %}
                      {% if price.size_750ml %}<td>₹{{ price.size_750ml }}</td> {% else %} <td>-</td> {% endif %}
                      {% if price.size_1ltr %}<td>₹{{ price.size_1ltr }}</td> {% else %} <td>-</td> {% endif %}
                      {% if price.size_2000ml %}<td>₹{{ price.size_2000ml }}</td> {% else %} <td>-</td> {% endif %} 
                    </tr>
                    {% endfor %}
                    {% else %}
                      <p>No state prices available for this product.</p>
                    {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2>You might also Like</h2>

      </div>
  </div>
</div>
  
<script>
  function updatePrice(newPrice) {
      document.getElementById('product-price').innerText = newPrice;
  }
</script>

{% endblock %}
